.wrap {
    overflow: hidden;
    border: 1px solid #d3d2d3;
    border-radius: 3px;
    cursor: text;
    background: #fff;
    transition: all .3s;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    /* height: 32px; */
    /* width: 300px; */
    /* padding: 8px 4px 0; */
  }
  .optStyle{
    left: 0;
   overflow: hidden;
   border: 1px solid #d3d2d3;
   border-radius: 3px;
   cursor: text;
   background: #fff;
   transition: all .3s;
   position: relative;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;

 }
 .optStyle:hover {
  border: 1px solid #8e8e8e;
}
  .inputClass {
    background: none;
    border: none;
    outline: none;
    box-shadow: none!important;
  }
  .ulClass{
    float: left;
    padding: 0;
    list-style: none;
    margin: 0;
  }
  .wrap:hover {
    border: 1px solid #8e8e8e;
  }
  .ant-tag {
    padding: 4px 7px;
    border: none;
    background: '#f3f3f3';
  }
  .areaStyle{
    display: none;
  }
 .liStyle{
margin-top: 4px;
   float: left;
  list-style: none;
  margin-left: 5px;
  padding-bottom: 4px;
 }
 .delIcon{
   position: absolute;
   bottom: 9px;
   z-index: 1;
 }
 .inputLiStyle{
 width: 10em;
 }
 .ulNoneClass{
  float: left;
  padding: 0;
  list-style: none;
  margin: 0;
  /* width: 100%; */
  display: inline-block;
  height: 30px;
  overflow: hidden;  /*超出部分隐藏*/
  white-space: nowrap;  /*禁止换行*/
  text-overflow: ellipsis; /*省略号*/

 }
 
 .fakeClass{
  background: none;
  border: none;
  outline: none;
  box-shadow: none!important;
  /* width: 100%; */
 }
